@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@media (max-width: 1440px) { 
    .container {
        width: 28%;
        height: auto;
    }
    .profile {
        width: 100%;
        margin-left: 0%;
    }
    .card-image {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 50%;
        padding: 1em;
    }
    .card-image {
        width: 90%;
        margin: 0;
    }
    .profile {
        align-items: flex-start;
    }
}

body    {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center; 
    font-family: "Figtree", sans-serif;
    margin: 5% 0% 0% 0%; 
}

.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    border-top: 1px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 1px solid black;
    border-radius: 1.5em;
}

.card-image {
    margin: 5%;
    border-radius: 1em;

}

.profile {
    display: flex;
    margin-left: 5%;
    margin-bottom: 5%;
    height: 10%;
    align-items: center;
}

.profile-image {
    width: 2em;
    height: 2em;
}

.title {
    font-size: 1rem;
    background-color: hsl(47, 88%, 63%);
    width: 4.8em;
    height: 1.8em;
    margin-left: 5%;
    border-radius: 0.3em;
}

h2 {
    font-size: .8rem;
    margin: 9% 0% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 800;
}

h4 {
    font-weight: 650;
    margin: 4% 0% 4% 0%;
}

.titles {
    margin-left: 5%;
}

p {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    margin: 0% 0% 9% 0%;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
    
}

h3 {
    font-size: .8rem;
    margin-left: 2%;
    font-weight: 800;
}
